<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <p>
            Akses semua catatan di <a href="{{'/notes' | relative_url}}">tab notes</a>
        </p>
        <p>
            Atau buka daftar matkul di <a href=""></a>
        </p>
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FMakassar&title=College&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=WEEK&src=c3BuMXRkdjl2ZzFhNDg4dGY4OWFhdXF2b3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=aHQzamxmYWFjNWxmZDYyNjN1bGZoNHRxbDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=aWQuaW5kb25lc2lhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4uaXNsYW1pYyNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60&color=%23B39DDB&color=%23D50000&color=%230B8043"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>